@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.footer-padding {
  padding-left: 7vw;
  padding-right: 7vw;
}

