@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

.footer-padding {
  padding-left: 7vw;
  padding-right: 7vw;
}

.hide-scroll::-webkit-scrollbar {
  display: none; 
}

@page {
  margin-left: 12.5mm;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-white z-50;
}

